extends layout

block scripts
  meta(charset='UTF-8')
  //- title 08-scatter-exercise
  //- Set device width to ensure proper renering on mobile devices
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
 

  //- link(rel='stylesheet' href=style)

block content
  #root

  script(type='text/javascript' src='/js/GuitarTabImporter.js')