.container {
  display: flex;
  flex-direction: column;
/*  grid-template-rows: 100%;*/
/*  grid-template-columns: 100%;*/
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}


.window {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  justify-content: center;
}

.instrument-select {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.instrument-select-item {
  background-color: red;
  border-radius: 15px;
}

.instrument-select-item-selected {
  background-color: green;
  border-radius: 15px;
}

.profile-row {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 50% 50% auto;
  align-content: center;
}

.profile-row-label {
  font-size: 1.25em
}