.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	overflow: hidden;

/*	grid-template-rows: 25px calc(100% - 25px);*/
/*	grid-template-columns: 20% 80%;*/
/*	grid-template-areas: */
/*		'menubar editor'*/
/*		'sidebar editor';*/
}

@media print {
	.container {
/*		display: grid;*/
/*	grid-template-rows: 0px 100%;*/
		grid-template-columns: 0% 100%;
/*		width: 100%;*/
/*		height: 100%;*/
/*		overflow: hidden;*/
	}
}


.content {
	display: grid;
	grid-template-areas:
		'menubar editor'
		'sidebar editor';
	grid-template-rows: 25px calc(100% - 25px);
	grid-template-columns: minmax(min-content, 0%) 1fr;
	width: 100%;
	height: 100%;
}


@media (max-width: 700px) {
	.content {
		display: grid;
		grid-template-rows: 25px minmax(0, min-content) minmax(50%, 100%);
		grid-template-columns: 100%;
		width: 100%;
		height: 100%;
		grid-template-areas:
		'menubar'
		'sidebar'
		'editor';
	} 

	.project-name {
		margin-left: auto;
	}
}

.menu-bar {
	grid-area: menubar;
	display: flex;
	width: 100%;
	height: 25px;
	background-color: black;
}

.sidebar {
/*	display: flex;*/
/*	width: 100%;*/
/*	height: 100%;*/
	grid-area: sidebar;
/*	flex: 1;*/
/*	flex-basis: 25%;*/
}

.sidebar-sort-by {
	display: flex;
	align-items: center;
	margin-left: auto;
	cursor: pointer;
	text-wrap: nowrap;
	margin-left: 15px;
	margin-right: 15px;
}

.editor {
/*	display: flex;*/
/*	width: 100%;*/
/*	height: 100%;*/
	grid-area: editor;
/*	flex: 1;*/
/*	flex-shrink: 1;*/
/*	flex-grow: 1;*/
}

.text-area {
	padding: 5px;
	caret-color: white;
	background-color: #333333;
	font-family: monospace;
	color: white;

	overflow-x: hidden;
	width: 100%;
	height: 100%;
}
