.container {
	display: grid;
	grid-template-rows: 100%;
	grid-template-columns: 30% 70%;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

@media print {
	.container {
/*		display: grid;*/
/*	grid-template-rows: 0px 100%;*/
		grid-template-columns: 0% 100%;
/*		width: 100%;*/
/*		height: 100%;*/
/*		overflow: hidden;*/
	}
}

.editor {
	height: 100%;
}


.fullscreen-background {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
 	background-color: rgba(0, 0, 0, 0.5);
}

.fullscreen-window{
	position: fixed;
	top: calc(50% - 75px);
	left: calc(50% - 150px);
	width: 300px;
	height: 150px;

	background-color: #000000;
	padding: 10px;
	border-radius: 10px;
}

