.header {
  grid-area: header;
  display: grid;
  grid-template-columns: repeat(auto-fill, 7.5%) 20%;
  justify-items: center;
  align-items: center;
  background-color: black;
}

.headerlink {
  padding-left: 25px;
  padding-right: 25px;
}

.links {
  display: flex;
}

.login {
  display: grid;
  grid-template-columns: auto auto;
  justify-self: end;
  grid-column-start: -2;
  grid-column-end:  -1;
}

.login-button {
  justify-self: right;
  align-self: center;
  width: 'fit-content';
  height:'fit-content';
}

