.layout {
	display: grid;
	grid-template-rows: 60px calc(100vh - 40px);
	width: 100vw;
	height: 100vh;
	padding: 10;
	grid-template-areas: 
    'header'
    'content';
}

.content {
	grid-area: content;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
