.container {
	display: grid;
}

@media print {
	.container {
/*		display: grid;*/
	grid-template-rows: 0px 100%;
/*		grid-template-columns: 0% 100%;*/
/*		width: 100%;*/
		height: 100%;
/*		overflow: hidden;*/
	}
}


.sidebar-container {
	display: grid;
	grid-template-rows: 25px calc(100% - 25px);
/*	flex: 1;*/
/*	flex-direction: column;*/
	width: 100%;
	height: 100%;
	min-width: 30vw;
}

.sidebar-content {
	width: 100%;
	height: 100%;
}

.sidebar-header {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.sidebar-items {
	grid-template-rows: 25px calc(100% - 25px);
	overflow: scroll;
	height: 100%;
}

.sidebar-item {
	padding: 20px;
	border: 1px solid #333333;
	width: 100%;
	display:flex;
	flex-direction: row;
	gap: 10px;
	align-items: center;

}

.sidebar-item:hover {
	cursor: pointer;
	border: 1px solid white;
}

.menu-bar {
	display: flex;
	flex-direction: row;
	padding-left: 10px;
	padding-right: 10px;
	width: 100%;

	background-color: black;
}

.add-tab-button {
	align-self: center;
	margin-left: auto;
}

