.table {
  align-items: start;
  width: 100%;
  height: 100%;
  border-style: hidden;
  border-collapse: collapse;
  
}

.tablehead {
  display: grid;
  width: 100%;
  height: 50px;
  text-align: left;  
  border-top: 1px solid rgba(200, 200, 200, 0.2);
  border-bottom: 1px solid rgba(200, 200, 200, 0.2);
  /*background: rgb(25, 25, 25, 0.2);*/
  align-items: center;
}


.tablebody {
  display: grid;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background: rgb(25, 25, 25, 0.4);
}

.row {
  display: grid !important;
  width:  100% !important;
  height: 50px;
  grid-template-columns: repeat(auto-fill, 10%);
  overflow-wrap: break-word;
}


.cell {
  display: grid;
  width: 100% !important;
  align-content: center;
  border-right: 1px solid rgba(200, 200, 200, 0.2);
  padding: 15px;
}

.cell:last-child {
  border: none;
}


.row:hover {
  background: rgb(200, 200, 200, 0.2);
}



